.btns {
  margin-top: 40px;
}
@media (min-width: 280px) {
  .btns {
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    flex-direction: column;
    align-items: stretch;
  }

  .btns > button:nth-child(2n) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .btnWrapper {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 490px) {
  .btnWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
