.wrapper {
  font-size: var(--med--2);
  transition: 0.3s ease-in-out;
  padding: 10px 80px;
}

.filled {
  background-color: var(--text--primary);
  color: var(--text--second);
  border-radius: 16px;
  font-weight: bold;
  border: 2px solid var(--text--primary);
}
.none {
  background-color: transparent;
  color: var(--text--primary);
}
.filled:hover:not(.disabled) {
  border: 2px solid var(--blue);
  transition: 0.5s ease-in-out;
}
.none:hover:not(.disabled) {
  color: var(--blue);
  transition: 0.5s ease-in-out;
}
.disabled {
  color: var(--disabled);
}
.stroke {
  background-color: transparent;
  border: 2px solid var(--text--primary);
  color: var(--text--primary);
  border-radius: 16px;
  font-weight: bold;
}
.stroke:hover:not(.disabled) {
  border: 2px solid var(--blue);
  transition: 0.5s ease-in-out;
}
