.hint {
  font-size: var(--small--2);
  color: var(--blue--light);
  text-decoration: underline;
  transition: 0.5s ease-in-out;
  text-align: center;
  margin-top: 160px;
  margin-bottom: 30px;
}
.hint:hover {
  color: var(--blue);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
