.errorHeader,
.errorText {
  color: var(--red);
}
.loadingHeader {
  color: var(--yellow--main);
}
.loadingText {
  color: var(--blue--light);
}
.errorHeader,
.loadingHeader {
  margin-top: 40px;
  font-size: var(--big--1);
  text-align: center;
}
.errorText,
.loadingText {
  margin-top: 40px;
  font-size: var(--med--1);
  line-height: 133%;
}
