.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgr);
}
body {
  background-color: var(--bgr);
}
@media (min-width: 280px) {
  .wrapper {
    margin-top: 0;
  }
}
